<!-- <ul>
  <li ng-repeat="route in allRoutesCtrl.routes">
    name: {{route.name}} <br>
    description: {{route.description}} <br>
    distance: {{route.distance}} <br>
    elevation gain: {{route.elevation_gain}} <br>
    map id: {{route.map.id}} <br>
    estimated moving time: {{route.estimated_moving_time}}
  </li>
</ul> -->

<div layout-margin>
  <md-card ng-repeat="route in allRoutesCtrl.routes">
    <md-card-header>
      <md-card-avatar>
        <md-icon class="md-avatar-icon" md-svg-icon="img/icons/android.svg"></md-icon>
      </md-card-avatar>
      <md-card-header-text>
        <div class="md-title" flex>{{route.athlete.firstname}} {{route.athlete.lastname}}</div>
        <div class="md-subhead">{{route.distance | numberConversion}}</div>
      </md-card-header-text>
      <md-card-icon-actions layout-gt-xs="row" flex="none" layout-align-gt-xs="center">
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon class="" md-svg-icon="img/icons/favorite_border.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share">
          <md-icon md-svg-icon="img/icons/share.svg"></md-icon>
        </md-button>
      </md-card-icon-actions>
    </md-card-header>
    <img class="md-card-image" src="img/map/570x190.png" alt="image caption">
    <md-card-content>
      <h2>{{route.name}}</h2>
      <p>{{route.description}}</p>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions layout="row">
      <md-button class="md-primary">Action 2</md-button>
    </md-card-actions>
  </md-card>
</div>

<pre>{{allRoutesCtrl.routes | json}}</pre>
