md-card {
  min-width: 288px;
  /* max-width: 288px; */
  max-width: calc(600px - 1.6rem);
}

  md-card .md-card-image {
    object-fit: contain;
  }

  md-card md-card-avatar {
    margin-right: 16px;
  }

  md-card md-card-content {
    margin-bottom: 16px;
    padding: 0 16px;
  }

    md-card md-card-content h2.md-title {
      font-family: roboto-bold;
    }

  md-card md-card-header {
    padding-bottom: 0;
  }

    md-card md-card-header md-card-header-text {
      width: calc(100% - 144px);
    }

.stats .units {
  font-size: 16px;
}
/* .md-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

.secondary-text {
  color: rgba(0,0,0,0.54);
}

.hint-text {
  color: rgba(0,0,0,0.38);
}

.distance,
.elevation,
.difficulty {
  margin-top: 16px;
  margin-right: 16px;
}

.difficulty:last-child {
  margin-right: 0;
}

@media (min-width: 600px) {
  md-card {
    /* min-width: 276px;
    max-width: 276px; */
    width: 380px;
  }

    md-card md-card-content {
      height: 252px;
      overflow: hidden;
    }

      md-card md-card-content h2 {
        overflow: visible;
      }

  .distance,
  .elevation,
  .difficulty {
    margin-top: 16px;
    margin-right: 16px;
  }
}
